<?xml version="1.0" encoding="utf-8"?>
<!--
Esse arquivo é usado pelo processo de publicação/pacote do seu projeto Web. É possível personalizar o comportamento deste processo
ao editar este arquivo MSBuild. Para saber mais sobre isso, visite https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/f1e3c062-c5ed-4107-9bd1-81cbd24ff71b/resourcegroups/caiobadev-api-arqtool20240407152353ResourceGroup/providers/Microsoft.Web/sites/caiobadev-api-arqtool</ResourceId>
    <ResourceGroup>caiobadev-api-arqtool20240407152353ResourceGroup</ResourceGroup>
    <ApiResourceId>/subscriptions/f1e3c062-c5ed-4107-9bd1-81cbd24ff71b/resourceGroups/caiobadev-api-arqtool20240407152353ResourceGroup/providers/Microsoft.ApiManagement/service/caiobadev-api-arqtoolapi/apis/caiobadev-api-arqtool</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://caiobadev-api-arqtool.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <ProjectGuid>3c91fef5-8b2e-4b17-8407-9f55b6401051</ProjectGuid>
    <MSDeployServiceURL>caiobadev-api-arqtool.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>caiobadev-api-arqtool</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>true</EnableMsDeployAppOffline>
    <UserName>$caiobadev-api-arqtool</UserName>
    <_SavePWD>true</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <InstallAspNetCoreSiteExtension>false</InstallAspNetCoreSiteExtension>
  </PropertyGroup>
</Project>